/* header */
/* ============================================ */
.header {
    width: 100%;
    color: #333;
    background-color: $baseColor;
    padding: 20px 0;
    box-sizing: border-box;
    box-shadow: 0 0 3px $fontColor;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease;
    &.appear {
        opacity: 1;
        visibility: visible;
    }
    &_inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .logo {
        width: 80px;
    }
    .pc_menu {
        display: flex;
        margin-top: 5px;
        li {
            font-size: 1.8rem;
            margin-left: 40px;
            a {
                position: relative;
                &:after {
                    content: "";
                    width: 0;
                    height: 3px;
                    background-color: $mainColor;
                    position: absolute;
                    left: 0;
                    bottom: -5px;
                    transition: all .3s ease;
                }
                &:hover {
                    opacity: .8;
                    &:after {
                        width: 100%;
                    }
                }
            }
        }
        @include tab {
            display: none;
        }
    }
    .menu_btn,
    .menu_btn_nav {
        display: none;
    }
    .overlay {
        display: none;
    }
}

/* ハンバーガーメニュー */
@include tab {

.header {
    &_inner {
        padding: 0 40px;
    }
    .logo {
        width: 75px;
    }
    .menu_btn {
        display: block;
        width: 40px;
        height: 40px;
        z-index: 100;
        position: absolute;
        top: 25px;
        right: 40px;
        cursor: pointer;
        span {
            display: block;
            width: 100%;
            height: 2px;
            background-color: $fontColor;
            border-radius: 10px;
            position: absolute;
            top: 50%;
            transition: all .3s ease-in-out;
            &:before,
            &:after {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background-color: $fontColor;
                position: absolute;
                left: 0;
                transition: inherit;
            }
            &:before {
                top: -13px;
            }
            &:after {
                top: 13px;
            }
        }
    }
    .menu_btn_nav {
        display: flex;
        // justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $fontColor;
        background-color: $baseColor;
        // width: 100%;
        height: 100vh;
        // padding: 100px 40px;
        padding: 150px 60px 60px;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        // transform: translateY(-30px);
        transform: translateX(30px);
        transition: all .3s ease;
        ul {
            li {
                font-size: 2.6rem;
                margin-bottom: 20px;
                a {
                    padding: 5px 0;
                }
            }
        }
    }
    .overlay {
        display: block;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,.15);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;
        opacity: 0;
        visibility: hidden;
        transition: all .15s ease;
    }
    &.open {
        .menu_btn {
            position: fixed;
            span {
                background-color: transparent;
                &:before,
                &:after {
                    background-color: $fontColor;
                    width: 100%;
                    top: 0;
                }
                &:before {
                    transform: rotate(45deg);
                }
                &:after {
                    transform: rotate(-45deg);
                }
            }
        }
        .menu_btn_nav {
            opacity: 1;
            visibility: visible;
            // transform: translateY(0);
            transform: translateX(0);
        }
        .overlay {
            opacity: 1;
            visibility: visible;
        }
    }
}

}

@include sp {

.header {
    &_inner {
        padding: 0 20px;
    }
    .logo {
        width: 60px;
    }
    .menu_btn {
        width: 30px;
        height: 30px;
        top: 25px;
        right: 20px;
        span {
            &:before {
                top: -10px;
            }
            &:after {
                top: 10px;
            }
        }
    }
    .menu_btn_nav {
        padding: 150px 50px 60px;
    }
}
}